
.center {
  text-align: center;
  align-items: center;
  justify-content: center;
}

.full-screen {
  min-height: 100vh;
}

.column {
  display: flex;
  flex-direction: column;
}

.background-twilight {
  background-image: linear-gradient(
          to top,
          #F1C086,
          #E7B4A4,
          #CCACAB,
          #AFA3B3,
          #9299BB,
          #7590C3,
          #5E89C9,
          #547ABB,
          #4B6CAD,
          #415D9F,
          #374F91,
          #2D3F82,
          #233073,
          #192064,
          #0F1155,
          #040146);
}


.padding-40 {
  padding: 40px;
}

.underConstruction {
  background: black;
  color: white;
  height: 35px;
  width: 350px;
  position: absolute;
  top: 65px;
  right: -60px;
  text-align: center;
  font-weight: 600;
  font-size: 24px;
  white-space: nowrap;
  -webkit-transform: rotate(35deg);
  -moz-transform: rotate(35deg);
  -ms-transform: rotate(35deg);
  -o-transform: rotate(35deg);
  transform: rotate(35deg);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
